@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0; 
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

*,:after, :before{
    box-sizing: inherit;
    border: 0 solid;
}
html{
    scroll-behavior: smooth;
}

li{
    list-style-type: none;
}

.no-cursor{
    cursor: not-allowed;
}

/* Navigation Bar */
.nav__logo--wrapper{
    display: flex;
    align-items: center;
}

.nav__logo--title{
padding-left: 30px;

}

nav{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    position: absolute;
    align-items: center;
    /* justify-content: center; */
    /* margin: 0 auto; */
    width: 92%;
    top: 20%;
    left: 51%;
    transform: translate(-50%, -50%);
    
    
}

a{
    color: white;
    font-size: 22px;
    
}

.nav__links{
    display: flex;
    padding: 20px;
    align-items: center;
    color: #fff;
}

.nav__link

.nav__logo--img{
    width: 70px;
    height: 70px;
}

.nav__logo--title{
    color: #fff;
}

.container{
    padding: 50px; 
}
/* Landing 

Page 


*/
#landing--page{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    position: relative;
}

#home{
    align-items: center;

}

.landing__page__background--img{
    height: 75vh;
    width: 100%;
    z-index: -1;
   
}

.input--wrapper{
    display: flex;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}
input{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    font-size: 24px;
    padding-left: 25px;
    max-width: 800px;
}


button[data-v-2a11e7ca] {
    width: 200px;
    margin-left: 20px;
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    transition: all .25s ease;
    height: 70px;
}
button.not-loading[data-v-2a11e7ca] {
    border: 1px solid yellow;
    background-color: red;
    box-shadow: 7px 7px 14px rgba(134, 93, 204, .3);
    cursor: pointer;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}




/* Search Section*/

.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* margin: 10% auto; */
  padding: 30px;
  max-width: 870px;
}

.sliders_control {
  position: relative;
  min-height: 50px;
  
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #8a8383;
  width: 100px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
}

select {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 16px;
  width: 100%;
  max-width: 200px;
  position: absolute;
}


#filter{
    right: 0%;

    margin-left: auto;
}

.search__para{
    text-decoration: underline;
    text-decoration-color: red;
}


/* Movies format section */
.movies{
    display: flex;
    width: 100% / 4;
    flex-wrap: wrap;
    
}

.movie__image--format :nth-child(1n+1){
    padding: 0 28px;
}

.movie__title{
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    letter-spacing: 1.5px;
    font-weight: Bold;
    color: orangered
}

.movie__year{
    font-weight: 800;
    color: blue
}



/* footer */
footer{
    background-color: #f3DC70
}

.footer__logo--wrapper{
     display: flex;
     align-items: center;
     /* justify-content: center; */

}

.footer__logo--title{
    padding-left: 30px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* text-decoration: wavy; */
    
}

.footer--para{
    color: brown;
    padding-top: 30px;
    text-decoration: underline;
    text-underline-offset: 7px;
   
}
.footer__movie-time__link{
    text-decoration-style: wavy;
    text-decoration-color: blue ;
}

.footer__movie-time__link{
    position: relative;
}


.footer__logo--popper{
    position: absolute;
    right:50px;
    font-weight: 700;
    top: 30px;
    opacity: 0;
     display: flex;
     transition: all 300ms ease-out;
}

.footer__movie-time__link:hover .footer__logo--popper{
    opacity: 1;
    transform: translateX(80px);
    transition: all 300ms ease-out;
}

.footer__row{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    align-items: center;
}

.footer__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.footer__link{
 padding: 0 20px;
 text-decoration: none;
 margin-bottom: 20px;
}

.footer__copyright{
    margin-left: 20px;
    color: brown;
}

/* For large screens */

@media screen and (max-width:1170px) {

  .range_container{

    margin: 10% auto;
    

  }
    
 }    

/* For small screens tablets and phones */

@media screen and (max-width: 585px) {
    .input--wrapper{
    font-size: 16px;
    height: 90px;
    padding: 0 0 0 8px;
    flex-direction: column;
    top: 90%;
    }

    .input--wrapper button[data-v-2a11e7ca] {
        max-width: none !important;
        width: 100%;
        margin: 20px 0 0 0;
        top: 90%;
    }
    
}

